include "layout.blade"

render title("Editor")
replace block body
  #everything.split-pane.vertical-percent(style="display: none")
    #left-component.split-pane-component
      span.window_label Markdown
      #editor
    #my-divider.split-pane-divider
    #right-component.split-pane-component
      a#toggle.window_label(href="#") HTML/MVBBCode
      #html
        include "right.blade"
      div#mvbbcode
        textarea#code
